/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

.logo-bracket {
    font-size: 1.2em;
}

.logo-name {
    margin: 0 5px;
    font-weight: bold;
}

.menu-btn {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
}

.menu {
    display: flex;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 1em;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.nav-link i {
    margin-right: 8px;
}

/* Hover colors for each nav-link */
.nav-link.home:hover {
    color: #e87d0b; /* Tomato color for Home */
}

.nav-link.about:hover {
    color: #4682b4; /* SteelBlue color for About */
}

.nav-link.projects:hover {
    color: #32cd32; /* LimeGreen color for Projects */
}

.nav-link.skills:hover {
    color: #ff4500; /* OrangeRed color for Skills */
}

.nav-link.resume:hover {
    color: #1e90ff; /* DodgerBlue color for Resume */
}

.nav-link.contact:hover {
    color: #d4237b; /* Orchid color for Contact */
}

.nav-link:hover,
.nav-link.active {
    color: #007bff;
}

/* Reduce size of input labels */
.form-group label {
    font-size: 0.85em; /* Adjust the font size to make labels smaller */
    color: #ccc; /* Lighter color for labels */
    padding-left: 10px; /* Adjust padding if necessary */
    transition: all 0.3s ease; /* Smooth transition */
}

.form-group input,
.form-group textarea {
    font-size: 1em; /* Keep input fields at a comfortable size */
    padding: 10px; /* Maintain padding for input fields */
}

.form-group input:focus + label,
.form-group textarea:focus + label {
    color: #007bff; /* Highlight the label on focus */
    font-size: 0.75em; /* Further reduce the size on focus if desired */
}

@media (max-width: 768px) {
    .menu-btn {
        display: block;
    }

    .menu-icon {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #020102;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .menu-btn:checked + .menu-icon + .menu {
        display: flex;
    }

    .nav-link {
        margin: 15px 0;
        text-align: center;
    }
}
