body {
    font-family: 'Arial', sans-serif;
    /* background-color: #19002c; */
    color: #fff;
    margin: 0;
    padding: 0;
}

.about {
    padding: 60px 0;
    /* background-color: #19002c; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    font-size: 2.5em;
    color: #007bff;
    margin-bottom: 40px;
    text-align: center;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about-image {
    flex: 1;
    max-width: 45%;
    margin-bottom: 20px;
    text-align: center;
}

.about-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.about-text {
    flex: 2;
    max-width: 50%;
}

.about-text p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #ddd;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-image {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .about-text {
        max-width: 100%;
    }

    h2 {
        font-size: 2em;
    }

    .about-text p {
        font-size: 1em;
    }
}
.bg-shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .shape {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    opacity: 0.3; /* Slightly visible shapes */
  }
  
  .shape-1 {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 10%;
  }
  
  .shape-2 {
    width: 150px;
    height: 150px;
    top: 20%;
    right: 15%;
  }
  
  .shape-3 {
    width: 250px;
    height: 250px;
    bottom: 10%;
    left: 25%;
  }
  
  .shape-4 {
    width: 300px;
    height: 300px;
    top: 30%;
    right: 30%;
  }
  
  .shape-5 {
    width: 100px;
    height: 100px;
    bottom: 20%;
    left: 10%;
  }
  
  .shape-6 {
    width: 180px;
    height: 180px;
    bottom: 30%;
    right: 25%;
  }
  